body{
    background-color: #ecf0f1;
}
header{
    align-items: baseline;
    height: 100%;
    padding: 20px;
    background-color: black;
    
}
.title {
    color: antiquewhite
}
.dropdownnav {
    background-color: #ecf0f1;
    padding: 10px;
    width: 200px;
    align-self: auto;
}